@using AvenueEntrega.I18N
@model AvenueEntrega.Web.MVC.Models.CalculoCustoViewModel

<div class="modal-dialog">
    <div class="modal-content">

        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">@Resources.Views_Mapa_CalcularCustoPartialView_Button_Fechar</span></button>
            <h3 id="myModalLabel" class="modal-title">&nbsp;@ViewBag.Title</h3>
        </div>
        @if (!string.IsNullOrEmpty(ViewBag.MessageType))
        {
        <div class="alert @ViewBag.MessageType fade in">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <small>@Html.Raw(ViewBag.Message)</small>
        </div>
        }

        <div id="myModalBody" class="modal-body">
            <div id="conteudo-modal">

                @using (Ajax.BeginForm(new AjaxOptions { HttpMethod = "post", InsertionMode = InsertionMode.Replace, UpdateTargetId = "myModal" }))
                {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })


                    <div class="form-group">
                        @Html.LabelFor(model => model.Origem, htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-6">
                            @Html.DropDownListFor(model => model.Origens, Model.GetOrigensSelectList(), new { @class = "form-control selectpicker" })
                            @Html.ValidationMessageFor(model => model.Origem, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Destino, htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-6">
                            @Html.DropDownListFor(model => model.Destinos, Model.GetDestinosSelectList(), new { @class = "form-control selectpicker" })
                            @Html.ValidationMessageFor(model => model.Destino, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.AutonomiaVeiculo, htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-6">
                            @Html.EditorFor(model => model.AutonomiaVeiculo, new {htmlAttributes = new {@class = "form-control"}})   (KM)
                            @Html.ValidationMessageFor(model => model.AutonomiaVeiculo, "", new {@class = "text-danger"})
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.ValorCombustivel, htmlAttributes: new {@class = "control-label col-md-3"})
                        <div class="col-md-6">
                            @Html.EditorFor(model => model.ValorCombustivel, new {htmlAttributes = new {@class = "form-control"}}) (custo / L) 
                            @Html.ValidationMessageFor(model => model.ValorCombustivel, "", new {@class = "text-danger"})
                        </div>
                    </div>

                    
                    @Html.HiddenFor(model => model.Id)
                    @Html.HiddenFor(model => model.NomeMapa)
                    <!--<div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Create" class="btn btn-default" />
                            </div>
                        </div>-->
                </div>
                }

            </div>
        </div>
        <div class="modal-footer form-horizontal">
            <button type="button" class="btn btn-default btn-sm" data-dismiss="modal" aria-hidden="true">@Resources.Views_Mapa_CalcularCustoPartialView_Button_Cancelar</button>
            <a id="calcularCusto" onclick="ajaxFormSubmit(this)" href="#" role="button" class="btn btn-sm btn-success">@Resources.Views_Mapa_CalcularCustoPartialView_Button_Calcular</a>
        </div>
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->